<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonne.kiukas">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_binary_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor">

        <receiver
            android:name="com.jonne.kiukas.InternetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jonne.kiukas.ApmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.jonne.kiukas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonne.kiukas.GuessGame"
            android:label="@string/guessGame"
            android:parentActivityName="com.jonne.kiukas.MainActivity" />
        <activity
            android:name="com.jonne.kiukas.SearchCompany"
            android:label="@string/searchCompany"
            android:parentActivityName="com.jonne.kiukas.MainActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.jonne.kiukas.CompanyNotFound"
            android:label="@string/searchCompany"
            android:parentActivityName="com.jonne.kiukas.MainActivity"/>
    </application>
</manifest>